*.xml
*.iml
*.gradle
*.json
.idea/
ios/
android/
*.dart_tool
*.flutter-plugins
*.flutter-plugins-dependencies
*.packages
**.properties
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/package_config.json
