*.xml
*.iml
*.json
.idea/
ios/
*.java
*.dex
*build/
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.properties
*.lock
*.packages
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/local.properties

